
nav.desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffb627;
  padding: 10px 40px ;
  margin: 0 0;
}

nav.desktop .nav-links a{
  margin: 0 10px;
}

h1{
  font: bold;
}
a{
  color: black;
  font-size:20px;
}
a:hover {
  color: #FFE66D;
}



nav.mobile {
  display: none;
}

nav.mobile .nav-links{
  display: flex;
  flex-direction: column;
  background: #eee;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 20px 40px;
  transition: opacity 0.5s, transform 0.5s;
}

nav.desktop .nav-links a {
  margin: 0 10px;
}

nav.mobile .nav-links a {
  margin: 10px 0;
}

nav.mobile .nav-links.hidden {
  opacity: 0;
  transform: translateX(-20px);
  pointer-events: none;
}

button {
  background-color: #ff9505; 
  border: none;
  color: #F7FFF7;
  font-size: 15px;
  border-radius: 20px;
  padding: 10px 10px;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #FFE66D;
}

.close-menu{
  align-self: flex-end;
}

footer {
  padding: 40px;
  background: #333;
  margin-top: 40px;
  text-align: center;
  
}

footer a {
  color: white;
  margin: 0 10px;
}








