
.big{
  padding: 40px 10px;
}


.first-block{
  padding: 50px 10px;
}
.second-block{
  padding: 50px 10px;
    background-color: #FED8B1;
}

.third-block{
  text-align: center;
  padding: 80px 10px 100px 10px;
}


.fourth-block{
  background-color: #FED8B1;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center ;
  
}

.box{
  border-style:solid;
  border-colour: black;
  border-width: 3px;
  text-align: center;
  width: 250px;
  height: 200px;
}



.box-text{
  text-align: center;
  padding: 10px;
}

.footah{
  padding-bottom: 0px;
}