
nav.desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffb627;
  padding: 10px 40px ;
  margin: 0 0;
}

nav.desktop .nav-links a{
  margin: 0 30px;
}